@model Assignment

<tr>
    <td>@Model.Name</td>
    <td>
        @if (Model.AssignedTo is null)
        {
            @: Unassigned
        }
        else
        {
            @: @Model.AssignedTo.FirstName @Model.AssignedTo.LastName
        }
    </td>
    <td>
        <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model.Id">
            Edit
        </a>
        <a class="btn btn-warning" asp-action="Delete" asp-route-id="@Model.Id">
            Delete
        </a>
    </td>
</tr>